﻿@model DoAnWeb2ShopConnection.LoaiSanPham
@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_MainLayoutAdmin.cshtml";
}

<style>
    input[type=submit] {
        width: 62.8%;
        padding: 12px 20px;
        margin: 3px 0 0 7cm;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

        input[type=submit]:hover {
            background-color: #bf2222;
        }
</style>
@if (ViewBag.Error != null)
{
    <div class="alert alert-danger" role="alert">
        <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
        @ViewBag.Error
    </div>
}
else if (ViewBag.Success != null)
{
    <div class="alert alert-success" role="alert">
        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
        <span class="sr-only">Success:</span>
        @ViewBag.Success
    </div>
}
<div class="container">
    @using (Html.BeginForm("Edit", "LoaiSanPhamAdmin", FormMethod.Post))
    {
        <div class="row" style="margin-top:40px;">
            <div class="form-group col-sm-10">
                <div class="form-group col-sm-3" style="text-align: center;">
                    <label>  </label>
                </div>
                <div class="form-group col-sm-7">
                    <input type="hidden" size="100" name="MaLoaiSanPham" value="@Model.MaLoaiSanPham" />
                </div>
            </div>
            <div class="form-group col-sm-10">

                <div class="form-group col-sm-3" style="text-align: center;">
                    <label>Mã Sãn Phẩm:</label>
                </div>
                <div class="form-group col-sm-7">
                    <input type="text" size="100" value="@Model.MaLoaiSanPham" disabled />
                </div>

            </div>
            <div class="form-group col-sm-10">
                <div class="form-group col-sm-3" style="text-align: center;">
                    <label>Tên Sản Phẩm:</label>
                </div>
                <div class="form-group col-sm-7">
                    <input type="text" size="100" name="TenLoaiSanPham" value="@Model.TenLoaiSanPham" required />
                </div>
            </div>
            <input type="submit" value="Lưu">
        </div>
    }
</div>

