﻿@model PagedList.IPagedList<DoAnWeb2ShopConnection.SanPham>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
    <link href="~/assets/css/mycss.css" rel="stylesheet" />
}

<div id="page-content" class="home-page">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <!-- Carousel -->
                <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators hidden-xs">
                        <li data-target="#carousel-example-generic" data-slide-to="1" class="active"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="3"></li>
                    </ol>
                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        <div class="item active">
                            <img src="~/assets/images/logo2.png" alt="First slide">
                            <!-- Static Header -->
                            <div class="header-text hidden-xs">
                                <div class="col-md-12 text-center">
                                </div>
                            </div><!-- /header-text -->
                        </div>
                        <div class="item">
                            <img src="~/assets/images/logo3.png" alt="Second slide">
                            <!-- Static Header -->
                            <div class="header-text hidden-xs">
                                <div class="col-md-12 text-center">
                                </div>
                            </div><!-- /header-text -->
                        </div>
                        <div class="item">
                            <img src="~/assets/images/logo4.png" alt="Third slide">
                            <!-- Static Header -->
                            <div class="header-text hidden-xs">
                                <div class="col-md-12 text-center">
                                </div>
                            </div><!-- /header-text -->
                        </div>
                    </div>
                    <!-- Controls -->
                    <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                    <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </div><!-- /carousel -->
            </div>
        </div>
        <div class="row">
            <div class="banner">
                <div class="col-sm-4">
                    <img src="~/assets/images/tienich.jpg" />
                </div>
                <div class="col-sm-4">
                    <img src="~/assets/images/ngua.jpg" />
                </div>
                <div class="col-sm-4">
                    <img src="~/assets/images/thietke.jpg" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="products">
                    @foreach (var item in Model)
                    {
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <div class="product">
                                <div class="image"><a href="@Url.Action("Details", new { id = @item.MaSanPham})" ><img src=@item.HinhAnh></a></div>
                                <div class="buttons">
                                    <a class="btn cart" href="#"><span class="glyphicon glyphicon-shopping-cart"></span></a>
                                    <a class="btn wishlist" href="#"><span class="glyphicon glyphicon-heart"></span></a>
                                    <a class="btn compare" href="#"><span class="glyphicon glyphicon-transfer"></span></a>
                                </div>
                                <div class="caption">
                                    <div class="name"><a href="@Url.Action("Details","SanPham", new { id = @item.MaSanPham }) " ><h3>@item.TenSanPham</h3></a></div>
                                    <div class="price"  ><p>@string.Format("{0:#,0 Vnđ}", @item.Gia)</p></div>
                                    <div class="rating" ><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star-empty"></span></div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    <div class="row text-center">
        <ul class="pagination">
            @Html.PagedListPager(Model, PagedList => Url.Action("Index", new { PagedList }))
        </ul>
    </div>
</div>

