﻿@model  IEnumerable<DoAnWeb2ShopConnection.GioHang>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Mainlayout.cshtml";
}

<h2>Quản lý giỏ hàng</h2>
<div id="page-content" class="single-page">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ul class="breadcrumb">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="cart.html">Cart</a></li>
                </ul>
            </div>
        </div>
        @foreach (var item in Model)
        {
            <div class="row">
                <div class="product well">
                    <div class="col-md-3">
                            <div class="image">
                                @Html.Partial("_AvartaDetails", DoAnWeb_2.Models.BUS.SanPhamBUS.loadhinh(@item.MaSanPham))
                            </div>
                        </div>
                    <div class="col-md-9">
                        <div class="caption">
                            @using (Html.BeginForm("CapNhat", "GioHang", FormMethod.Post))
                            {

                                <div class="name"><h3><a href="product.html">@item.TenSP</a></h3></div>
                                <div class="info">
                                    <ul>
                                        <li>
                                            <input name="masanpham" type="hidden" value="@item.MaSanPham" />
                                        </li>
                                        <li>
                                            <input type="hidden" name="gia" value="@item.Gia" />
                                        </li>
                                    </ul>
                                </div>
                                <div class="price">@String.Format(System.Globalization.CultureInfo.GetCultureInfo("vi-VN"), "{0:c}", @item.Gia)</div>
                                <label>Số Lượng: </label> <input class="form-inline quantity" min="1" max="500" type="number" value="@item.SoLuong" name="soluong"><input type="submit" class="btn btn-2" value="Update" />

                            }
                            <label>Giá :@String.Format(System.Globalization.CultureInfo.GetCultureInfo("vi-VN"), "{0:c}", @item.TongTien)</label>
                            <hr>
                            <a href="@Url.Action("Xoa","GioHang",new { masanpham = item.MaSanPham })" class="btn btn-default pull-right">REMOVE</a>
                        </div>

                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        }
        @*Trang sp*@

        <div class="row">
            <div class="col-md-4 col-md-offset-8 ">
                <center><a href="@Url.Action("Index","SanPham")" class="btn btn-1">Continue To Shopping</a></center>
            </div>
        </div>
        @*TinhTien*@
        <div class="row">
            <div class="pricedetails">
                <div class="col-md-4 col-md-offset-8">
                    <table>
                        <h6>Tính Tiền</h6>
                        <tr>
                            <td>Tổng Tiền</td>
                            <td>@String.Format(System.Globalization.CultureInfo.GetCultureInfo("vi-VN"), "{0:c}", ViewBag.TongTien)</td>
                        </tr>
                        @*<tr>
                               <td>Discount</td>
                                <td>-----</td>
                            </tr>*@
                        <tr>
                            <td>Giảm giá</td>
                            <td>0đ</td>
                        </tr>
                        <tr style="border-top: 1px solid #333">
                            <td><h5>Thành Tiền</h5></td>
                            <td>@String.Format(System.Globalization.CultureInfo.GetCultureInfo("vi-VN"), "{0:c}", ViewBag.TongTien)</td>
                        </tr>
                    </table>
                    <center><a href="#" class="btn btn-1">Thanh toán</a></center>
                </div>
            </div>
        </div>
    </div>
</div>


