﻿body {
}

 table, td, th {
      border: 1px solid #ddd;
      text-align: center;
      margin-top: 20px;
 }

 table {
     border-collapse: collapse;
     width: 60%;
     margin: 25px 0 0 230px;
}

th, td {
     padding: 15px;
}
tr {
     margin-top:50px;
  }



