﻿@model PagedList.IPagedList<DoAnWeb2ShopConnection.SanPham>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_MainLayoutAdmin.cshtml";
}
@if (ViewBag.Error != null)
{
    <div class="alert alert-danger" role="alert">
        <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
        @ViewBag.Error
    </div>
}
else if (ViewBag.Success != null)
{
    <div class="alert alert-success" role="alert">
        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
        <span class="sr-only">Success:</span>
        @ViewBag.Success
    </div>
}
<style>
    table {
        border: 1px solid black;
        border-collapse: collapse;
        width: 80%;
    }

    th, td {
        border: 1px solid black;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    th {
        background-color: #4CAF50;
        color: white;
    }
</style>
<body>

    <h2>Danh Sách Sản Phẩm</h2>
    <div>
        <table>
            <tr>
                <th>Mã mã sản phẩm</th>
                <th>Tên sản phẩm</th>
                <th>Hình ảnh</th>
                <th>Giá</th>
                <th>Màn hình</th>
                <th>Mô tả</th>
                <th>Hệ điều hành</th>
                <th>Camera trước</th>
                <th>Camera sau</th>
                <th>Cpu</th>
                <th>Ram</th>
                <th>Bộ nhớ trong</th>
                <th>Dung lượng pin</th>
                <th>Tình trạng</th>
                <th colspan="3">  
                    <a href="@Url.Action("Create","SanPhamAdmin")"> <img src="~/Areas/assets/img/Add.png" /></a>
                </th>  
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.MaSanPham</td>
                    <td>@item.TenSanPham</td>
                    <td>
                        <img src="@item.HinhAnh" style="width:70px;height:90px;" />
                    </td>
                    <td>@item.Gia</td>
                    <td>@item.ManHinh</td>
                    <td>@Html.Raw(item.MoTa)</td>
                    <td>@item.HeDieuHanh</td>
                    <td>@item.CaneraTruoc</td>
                    <td>@item.CameraSau</td>
                    <td>@item.CPU</td>
                    <td>@item.Ram</td>
                    <td>@item.BoNhoTrong</td>
                    <td>@item.DungLuongPin</td>
                    <td>Đã Bán</td>
                    <td>
                        <a href="@Url.Action("Edit","SanPhamAdmin",new {id =@item.MaSanPham })"> <img src="~/Areas/assets/img/edit.png" /></a>
                    </td>
                    <td>
                        <form method="post" action="@Url.Action("DeleteDS","SanPhamAdmin")">
                            <input type="hidden" name="id" value="@item.MaSanPham" />
                            <button type="submit"><img src="~/Areas/assets/img/delete.png" /></button>
                        </form>
                    </td>
                    <td><a href="@Url.Action( "Details", "SanPham", new { area = "",id =item.MaSanPham })" target="_blank"><img src="~/Areas/assets/img/Xem.png" /></a></td>
                </tr>
            }
        </table>
        <div class="row text-center">
            <ul class="pagination">
                @Html.PagedListPager(Model, PagedList => Url.Action("Index", new { PagedList }))
            </ul>
        </div>
    </div>
</body>