﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_MainLayoutAdmin.cshtml";
}

<style>
    table {
        border: 1px solid black;
        border-collapse: collapse;
        width: 80%;
    }

    th, td {
        border: 1px solid black;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    th {
        background-color: #4CAF50;
        color: white;
    }
</style>
<body>

    <h2>Danh Sách Liên Hệ</h2>
    <div>
        <table>
            <tr>
                <th>Id</th>
                <th>Tên Khách hàng địa chỉ</th>
                <th>Địa Chỉ</th>
                <th>Số Điện Thoại</th>
                <th>Nội Dung </th>
                <th>Email</th>       
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.ID</td>
                    <td>@item.TenKhachHang</td>
                    <td>@item.DiaChi</td>
                    <td>@item.SDT</td>
                    <td>@item.NoiDung</td>
                    <td>@item.Email</td>
                    <td>
                        <a href="@Url.Action("Edit","LienHeAdmin",new {id =@item.ID })"> <img src="~/Areas/assets/img/edit.png" /></a>
                    </td>
                    <td>
                        <form method="post" action="@Url.Action("Delete","LienHeAdmin")">
                            <input type="hidden" name="id" value="@item.ID" />
                            <button type="submit"><img src="~/Areas/assets/img/delete.png" /></button>
                        </form>
                    </td>
                </tr>
            }
        </table>
    </div>
</body>

