﻿
@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_MainLayoutAdmin.cshtml";
}

<style>
    input[type=submit] {
        width: 62.8%;
        padding: 12px 20px;
        margin: 3px 0 0 7cm;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }

        input[type=submit]:hover {
            background-color: #bf2222;
        }
</style>

@if (ViewBag.Error != null)
{
    <div class="alert alert-danger" role="alert">
        <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
        @ViewBag.Error
    </div>
}
else if (ViewBag.Success != null)
{
    <div class="alert alert-success" role="alert">
        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
        <span class="sr-only">Success:</span>
        @ViewBag.Success
    </div>
}
<div class="container">
    @using (Html.BeginForm("Create", "LoaiSanPhamAdmin", FormMethod.Post))
    {
        <div class="row" style="margin-top:40px;">
            <div class="form-group col-sm-10">
                <div class="form-group col-sm-3" style="text-align: center;">
                    <label>Mã Sãn Phẩm:</label>
                </div>
                <div class="form-group col-sm-7">
                    <input type="text" size="100" name="MaLoaiSanPham" value="Mã nhà sản xuất" disabled />
                </div>
            </div>
            <div class="form-group col-sm-10">
                <div class="form-group col-sm-3" style="text-align: center;">
                    <label>Tên Sản Phẩm:</label>
                </div>
                <div class="form-group col-sm-7">
                    <input type="text" size="100" name="TenLoaiSanPham" placeholder="Tên Sản Phẩm..." required />
                </div>
            </div>
            @*<div class="form-group col-sm-10">
                    <div class="form-group col-sm-3">
                        <label>Tình Trạng:</label>
                    </div>
                    <div class="form-group col-sm-7">
                        <select id="country" name="TinhTrang" style="width:138%;" >
                            <option value="0">Chưa Khóa</option>
                            <option value="1">Đã Khóa</option>
                        </select>
                    </div>
                </div>*@

            <input type="submit" value="Lưu">
        </div>
    }
</div>

