﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_MainLayoutAdmin.cshtml";
}

<style>
    table {
        border: 1px solid black;
        border-collapse: collapse;
        width: 80%;
    }

    th, td {
        border: 1px solid black;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    th {
        background-color: #4CAF50;
        color: white;
    }
</style>
<body>

    <h2>Danh Sách Bình Luận</h2>
    <div>
        <table>
            <tr>
                <th>Mã bình luận</th>
                <th>Mx Sản phẩm</th>
                <th>Nội dung </th>
                <th>Ngày binh luận</th>
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.MaBinhLuan</td>
                    <td>@item.MaSanPham</td>
                    <td>@item.NoiDung</td>
                    <td>@item.Ngay</td>
                    <td>
                        <form method="post" action="@Url.Action("Delete","BinhLuan")">
                            <input type="hidden" name="id" value="@item.MaBinhLuan" />
                            <button type="submit"><img src="~/Areas/assets/img/delete.png" /></button>
                        </form>
                    </td>
                </tr>
            }
        </table>
    </div>
</body>


