﻿@model DoAnWeb2ShopConnection.SanPham

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_MainLayoutAdmin.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm("Edit", "ThungRacSanPham", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>SanPham</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.MaSanPham, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="hidden" value="@Model.MaSanPham" name="MaSanPham" />
            </div>
        </div>
        <div class="form-group col-sm-12">
            <div class="form-group col-sm-4 " style="padding-left:200px">
                <label>Tên sản phẩm:</label>
            </div>
            <div class="form-group col-sm-7">
                @Html.EditorFor(model => model.TenSanPham, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TenSanPham, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group col-sm-12">
            <div class="form-group col-sm-4" style="padding-left:200px">
                <label>Màn Hình:</label>
            </div>
            <div class="form-group col-sm-7">
                @Html.EditorFor(model => model.ManHinh, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ManHinh, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group col-sm-12">
            <div class="form-group col-sm-4" style="padding-left:200px">
                <label>Màn Hình:</label>
            </div>
            <div class="form-group col-sm-7">
                @Html.EditorFor(model => model.HeDieuHanh, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.HeDieuHanh, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group col-sm-12">
            <div class="form-group col-sm-4" style="padding-left:200px">
                <label>Canera Trước:</label>
            </div>
            <div class="form-group col-sm-7">
                @Html.EditorFor(model => model.CaneraTruoc, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CaneraTruoc, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group col-sm-12">
            <div class="form-group col-sm-4" style="padding-left:200px">
                <label>Canera Sau:</label>
            </div>
            <div class="form-group col-sm-7">
                @Html.EditorFor(model => model.CameraSau, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CameraSau, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group col-sm-12">
            <div class="form-group col-sm-4" style="padding-left:200px">
                <label>Giá:</label>
            </div>
            <div class="form-group col-sm-7">
                @Html.EditorFor(model => model.Gia, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Gia, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group col-sm-12">
            <div class="form-group col-sm-4" style="padding-left:200px">
                <label>CPU:</label>
            </div>
            <div class="form-group col-sm-7">
                @Html.EditorFor(model => model.CPU, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CPU, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group col-sm-12">
            <div class="form-group col-sm-4" style="padding-left:200px">
                <label>Ram:</label>
            </div>
            <div class="form-group col-sm-7">
                @Html.EditorFor(model => model.Ram, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Ram, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group col-sm-12">
            <div class="form-group col-sm-4" style="padding-left:200px">
                <label>Bộ nhớ trong:</label>
            </div>
            <div class="form-group col-sm-7">
                @Html.EditorFor(model => model.BoNhoTrong, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.BoNhoTrong, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group col-sm-12">
            <div class="form-group col-sm-4" style="padding-left:200px">
                <label>Dung lượng pin:</label>
            </div>
            <div class="form-group col-sm-7">
                @Html.EditorFor(model => model.DungLuongPin, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DungLuongPin, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group col-sm-12">
            <div class="form-group col-sm-4" style="padding-left:200px">
                <label>Mô tả:</label>
            </div>
            <div class="form-group col-sm-7">
                @Html.EditorFor(model => model.MoTa, new { htmlAttributes = new { @class = "form-control tinymce" } })
                @Html.ValidationMessageFor(model => model.MoTa, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group col-sm-12">
            <div class="form-group col-sm-4" style="padding-left:200px">
                <label>Hình ảnh:</label>
            </div>
            <div class="form-group col-sm-7">
                <input type="file" value="@Model.HinhAnh" name="imagefile" style="width: 100%;" />
                @Html.ValidationMessageFor(model => model.HinhAnh, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group col-sm-12">
            <div class="form-group col-sm-4" style="padding-left:200px">
                <label>Mã lại sản phẩm:</label>
            </div>
            <div class="form-group col-sm-7">
                @Html.DropDownList("MaLoaiSanPham", null, htmlAttributes: new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MaLoaiSanPham, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group col-sm-12">
            <div class="form-group col-sm-4" style="padding-left:200px">
                <label>Mã nhà sản xuất:</label>
            </div>
            <div class="form-group col-sm-7">
                @Html.DropDownList("MaNhaSanXuat", null, htmlAttributes: new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MaNhaSanXuat, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group col-sm-12">
            <div class="form-group col-sm-4" style="padding-left:200px">
                <label>Chọn Sản phẩm mới hay nổi bật:</label>
            </div>
            <div class="form-group col-sm-7">
                <select id="country" value="@Model.Home" name="Home" style="width:70%;">
                    <option value="1">Sản phẩm nổi bật</option>
                    <option value="0">Sản phẩm mới</option>
                    <option value="3">Khác</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
