﻿@using DoAnWeb_2.Models.BUS;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Free Bootstrap Themes by 365Bootstrap dot com - Free Responsive Html5 Templates">
    <meta name="author" content="http://www.365bootstrap.com">

    <title>Mobile Shop | Free Bootstrap Themes by 365bootstrap.com</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css" type="text/css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="~/assets/css/style.css">


    <!-- Custom Fonts -->
    <link rel="stylesheet" href="~/assets/font-awesome/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="~/assets/fonts/font-slider.css" type="text/css">

    <!-- jQuery and Modernizr-->
    <script src="~/assets/js/jquery-2.1.1.js"></script>

    <!-- Core JavaScript Files -->
    <script src="~/assets/js/bootstrap.min.js"></script>
    <script>
         (function (i, s, o, g, r, a, m) {
         i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
             (i[r].q = i[r].q || []).push(arguments)
         }, i[r].l = 1 * new Date(); a = s.createElement(o),
             m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
         })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

         ga('create', 'UA-57424714-2', 'auto');
         ga('send', 'pageview');

    </script>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="~assets/js/html5shiv.js"></script>
        <script src="~assets/js/respond.min.js"></script>
    <![endif]-->


</head>

<body>
    <!--Top-->
    <nav id="top">
        <div class="container">
            <div class="row">
                <div class="col-xs-6">
                    <select class="language">
                        <option value="English" selected>English</option>
                        <option value="France">France</option>
                        <option value="Germany">Germany</option>
                    </select>
                    <select class="currency">
                        <option value="USD" selected>USD</option>
                        <option value="EUR">EUR</option>
                        <option value="DDD">DDD</option>
                    </select>
                </div>
                <div class="col-xs-6">
                    @*<ul class="top-link">
                            <li><a href="account.html"><span class="glyphicon glyphicon-user"></span> My Account</a></li>
                            <li><a href="contact.html"><span class="glyphicon glyphicon-envelope"></span> Contact</a></li>
                        </ul>*@
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>
    </nav>
    <!--Header-->
    <header class="container">
        <div class="row">
            <div class="col-md-4">
                <div id="logo"><img src="~/assets/images/logo.png" /></div>
            </div>
            @using (Html.BeginForm("KetQuaTimKiem", "TimKiem", FormMethod.Get))
            {
                <div class="col-md-4">
                    <form class="form-search">
                        <input type="text" class="input-medium search-query" name="TimKiem" />
                        <button type="submit" class="btn"><span class="glyphicon glyphicon-search"></span></button>

                    </form>
                </div>
            }
            <div class="col-md-4">
                <div id="cart"><a class="btn btn-1" href="cart.html"><span class="glyphicon glyphicon-shopping-cart"></span>CART : 0 ITEM</a></div>
            </div>
        </div>
    </header>
    <!--Navigation-->
    <nav id="menu" class="navbar">
        <div class="container">
            <div class="navbar-header">
                <span id="heading" class="visible-xs">Categories</span>
                <button type="button" class="btn btn-navbar navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse"><i class="fa fa-bars"></i></button>
            </div>
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <li><a href=@Url.Action("Index","Home")>Home</a></li>
                    <li class="dropdown">
                        <a href="@Url.Action("Index","SanPham")">Điện thoại</a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Nhà Sản Xuất</a>
                        <div class="dropdown-menu">
                            <div class="dropdown-inner">
                                <ul class="list-unstyled">
                                    @foreach (var i in NhaSanXuatBUS.DanhSach())
                                    {
                                        <li>
                                            @*<a href="category.html">@i.TenLoaiSP</a>*@
                                            @*@Html.ActionLink(i.TenLoaiSP, "AllProducts", "Producer", new { @id = i.MaLoaiSanPham })*@
                                            <a href="@Url.Action("AllProducts","NhaSanXuat",new { @id = i.MaNhaSanXuat })">@i.TenNhaSanXuat</a>
                                        </li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Loại Sản Phẩm</a>
                        <div class="dropdown-menu">
                            <div class="dropdown-inner">
                                <ul class="list-unstyled">
                                    @foreach (var i in LoaiSanPhamBUS.DanhSach())
                                    {
                                        <li>
                                            @*<a href="category.html">@i.TenLoaiSP</a>*@
                                            @*@Html.ActionLink(i.TenLoaiSP, "AllProducts", "Producer", new { @id = i.MaLoaiSanPham })*@
                                            <a href="@Url.Action("AllProducts","LoaiSanPham",new { @id = i.MaLoaiSanPham })">@i.TenLoaiSanPham</a>
                                        </li>
                                    }
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li><a href=@Url.Action("Index","LienHe")>Liên Hệ</a></li>
                    @*<li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Mobiles &amp; Tablet</a>
                            <div class="dropdown-menu" style="margin-left: -203.625px;">
                                <div class="dropdown-inner">
                                    <ul class="list-unstyled">
                                        <li><a href="category.html">Iphone</a></li>
                                        <li><a href="category.html">Samsung</a></li>
                                        <li><a href="category.html">Nokia</a></li>
                                        <li><a href="category.html">Lenovo</a></li>
                                        <li><a href="category.html">Google</a></li>
                                    </ul>
                                    <ul class="list-unstyled">
                                        <li><a href="category.html">Nexus</a></li>
                                        <li><a href="category.html">Dell</a></li>
                                        <li><a href="category.html">Oppo</a></li>
                                        <li><a href="category.html">Blackberry</a></li>
                                        <li><a href="category.html">HTC</a></li>
                                    </ul>
                                    <ul class="list-unstyled">
                                        <li><a href="category.html">LG</a></li>
                                        <li><a href="category.html">Q-Mobiles</a></li>
                                        <li><a href="category.html">Sony</a></li>
                                        <li><a href="category.html">Wiko</a></li>
                                        <li><a href="category.html">T&T</a></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <li><a href="category.html">Software</a></li>*@
                </ul>
            </div>
        </div>
    </nav>
    <!--//////////////////////////////////////////////////-->
    <!--///////////////////HomePage///////////////////////-->
    <!--//////////////////////////////////////////////////-->
    @RenderBody()
    <footer>
        <div class="container">
            <div class="wrap-footer">
                <div class="row">
                    <div class="col-md-3 col-footer footer-1">
                        <div class="heading"><h4>Bản đồ tới cửa hàng</h4></div>
                        <iframe width="250" height="200" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDYfWQV9Z7oL0nZ_merGNOI6OEAMoE-rOc&amp;q=University+of+Science,+Downtown+Campus&#10;  &amp;attribution_source=Google+Maps+Embed+API&#10;  &amp;attribution_web_url=http://www.zyrashop.pe.hu/&#10;  &amp;attribution_ios_deep_link_id=comgooglemaps://?daddr=University+of+Science,+Downtown+Campus" allowfullscreen=""></iframe>
                    </div>
                    <div class="col-md-3 col-footer footer-2">
                        <div class="heading"><h4>THÔNG TIN LIÊN HỆ</h4></div>
                        <ul>
                            <li>Hotline bán hàng: 0936062468</li>
                            <li>Hotline bán hàng online: 0931233219</li>
                            <li>Hotline bảo hành: 0965698556</li>
                            <li>Hotline khiếu nại: 09656616695</li>
                            <li>Đóng góp ý kiến : 0961566955</li>

                        </ul>
                    </div>
                    <div class="col-md-3 col-footer footer-3">
                        <div class="heading"><h4>VỀ MOBILESHOP</h4></div>
                        <p> Công ty TNHH &amp; XNK MOBILESHOP GPKD số 0106081880 do sở KH &amp; ĐT TP HCM cấp ngày 6/6/2017</p>
                        <img src="~/assets/images/logo7.png" />
                    </div>
                    <div class="col-md-3 col-footer footer-4">
                        <div class="heading"><h4>Follow us</h4></div>
                        <ul>
                            <li><iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fkyraunlimited%2F&tabs=timeline&width=200&height=100&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="300" height="200" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe></li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        Your Store © 20xx - <a href="http://www.365bootstrap.com" rel="nofollow" target="_blank">Ecommerce Themes</a> Designed by <a href="http://www.365bootstrap.com" rel="nofollow" target="_blank">365BOOTSTRAP</a>
                    </div>
                    <div class="col-md-6">
                        <div class="pull-right">
                            <ul>
                                <li><img src="~/assets/images/visa-curved-32px.png" /></li>
                                <li><img src="~/assets/images/paypal-curved-32px.png" /></li>
                                <li><img src="~/assets/images/discover-curved-32px.png" /></li>
                                <li><img src="~/assets/images/maestro-curved-32px.png" /></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    @RenderSection("scripts", required: false)
</body>
</html>
