﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_MainLayoutAdmin.cshtml";
    <link href="~/Areas/assets/css/myAdmin.css" rel="stylesheet" />
}

@if (ViewBag.Error != null)
{
    <div class="alert alert-danger" role="alert">
        <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span>
        <span class="sr-only">Error:</span>
        @ViewBag.Error
    </div>
}
else if (ViewBag.Success != null)
{
    <div class="alert alert-success" role="alert">
        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
        <span class="sr-only">Success:</span>
        @ViewBag.Success
    </div>
}
<table class="nhasanpham">
    <tr class="tc">
        <th>Mã Sản Phẩm</th>
        <th>Tên Sản Phẩm</th>
        <th>Tình Trạng</th>
        <th colspan="2"><a href="@Url.Action("Create","NhaSanXuatAdmin")"><img src="~/Areas/assets/img/Add.png" /> </a></th>
    </tr>
   
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.MaNhaSanXuat</td>
            <td>@item.TenNhaSanXuat</td>
            <td>Đang hợp tác</td>
            
            <td>
                <a href="@Url.Action("Edit", "NhaSanXuatAdmin",new {id=@item.MaNhaSanXuat })"><img src="~/Areas/assets/img/edit.png" /></a>
            </td>
            <td>
                <form method="post" action="@Url.Action("Delete","NhaSanXuatAdmin")">
                    <input type="hidden" name="id" value="@item.MaNhaSanXuat" />
                    <button type="submit"><img src="~/Areas/assets/img/delete.png" /></button>
                </form>
            </td>
        </tr>
    }
</table>

