﻿@model IEnumerable<DoAnWeb2ShopConnection.BinhLuan>
@{
    ViewBag.Title = "Index";
    Layout = null;
}

<div row>
    <div>
        <h2> Bình Luận</h2>
        @if (User.Identity.IsAuthenticated)
        {
            using (Html.BeginForm("Create", "BinhLuan", FormMethod.Post))
            {
                <div>
                    @Html.AntiForgeryToken()
                    @Html.Hidden("MaSanPham", (int)ViewBag.MaSanPham)
                    @Html.TextArea("NoiDung")
                </div>
                <div>
                    <input type="submit" value="Đăng" />
                </div>
            }

            @*<textarea id="comment-content"></textarea>
                <input value="Đăng" type="button" onclick="postComment()"/>*@
        }
        else
        {
            <div>Vui lòng <a href="/Account/Login">đăng nhập</a></div>
        }
        <div id="comments">
            @foreach (var item in Model)
            {
                <div class="comment">
                    <div class="comment-name">@item.TenTaiKhoan</div>
                    <div class="comment-conten">@item.NoiDung</div>
                </div>
            }
        </div>
        @*<div class="row text-center">
                <ul class="pagination">
                    @Html.PagedListPager(Model, PagedList => Url.Action("Index", new { PagedList }))
                </ul>
            </div>*@
    </div>
</div>

