﻿@{
    ViewBag.Title = "Liên hệ";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<style>
    #mapCanvas {
        widows: 100%;
        height: 600px;
    }
</style>



<div class="content">
    <div class="row">
        <div class="col-md-12">
           
                <div class="col-md-6">
                    <h2>Thông Tin Liên Hệ</h2>
@using (Html.BeginForm("Them", "LienHe", FormMethod.Post))
            {
                    <div >
                        <div>
                            <p>Tên:</p>
                        </div>
                        <div>
                            <input type="text" class="input-medium search-query" name="Name" />
                        </div>                     
                    </div>
                    <div>
                        <div >
                            <p>Địa Chỉ:</p>
                        </div>
                        <div>
                            <input type="text" class="input-medium search-query" name="DiaChi" />
                        </div>
                    </div>
                    <div>
                        <div >
                            <p>Số Điện Thoại:</p>
                        </div>
                        <div>
                            <input type="text" class="input-medium search-query" name="Phone" />
                        </div> 
                    </div>

                    <div>
                        <div >
                            <p>Nội Dung :</p>
                        </div>
                        <div >
                            <input type="text" class="input-medium search-query" name="NoiDung" />
                        </div ">
                    </div>
                    <div>
                        <div >
                            <p>Email:</p>
                        </div>
                        <div>
                            <input type="text" class="input-medium search-query" name="Email" />
                        </div>
                        
                    </div>
                    <br>
                    <button type="submit">Gửi</button>
}
                </div>
            
            <div class="col-md-6">
                <h2>Bản Đồ</h2>
                <div class="map" id="mapCanvas"></div>
            </div>
        </div>
    </div>
</div>


<script>
      function initMap() {
          var uluru = { lat: 10.762165, lng: 106.682070 };
        var map = new google.maps.Map(document.getElementById('mapCanvas'), {
          zoom: 16,
          center: uluru
        });

        var contentString = '';

        var infowindow = new google.maps.InfoWindow({
          content: contentString
        });

        var marker = new google.maps.Marker({
          position: uluru,
          map: map,
          title: 'Uluru (Ayers Rock)'
        });
        marker.addListener('click', function() {
          infowindow.open(map, marker);
        });
      }
</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCU-UvSmYfXrdK15IctKAEUXuZvQUsx0AQ&callback=initMap">
</script>