﻿@model DoAnWeb2ShopConnection.SanPham
@{
    ViewBag.Title = "Details";
}
<script>
(function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.9";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
<h2>Details</h2>
<div id="page-content" class="single-page">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ul class="breadcrumb">
                    <li><a href="@Url.Action("Index","Home")">Home</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div id="main-content" class="col-md-12">
                <div class="product">
                    <div class="col-md-8">
                        <div class="image">
                            <a style="margin-left:100px;"><img src="@Model.HinhAnh"></a>
                            <div class="image-more">
                                <ul class="row">
                                    <li class="col-lg-3 col-sm-3 col-xs-4">
                                        <a href="#"><img class="img-responsive" src="~/assets/images/iphone1.png"></a>
                                    </li>
                                    <li class="col-lg-3 col-sm-3 col-xs-4">
                                        <a href="#"><img class="img-responsive" src="~/assets/images/iphone2.png"></a>
                                    </li>
                                    <li class="col-lg-3 col-sm-3 col-xs-4">
                                        <a href="#"><img class="img-responsive" src="~/assets/images/iphone3.png"></a>
                                    </li>
                                    <li class="col-lg-3 col-sm-3 col-xs-4">
                                        <a href="#"><img class="img-responsive" src="~/assets/images/iphone4.png"></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="caption">
                            <div class="name"><h3>Aliquam erat volutpat</h3></div>
                            <div class="info">
                                <ul>
                                    <li>Tên Sản Phẩm: &ensp; @Model.TenSanPham</li>
                                    <li>Màn hình: &ensp; @Model.ManHinh</li>
                                    <li>Hệ điều hành: &ensp; @Model.HeDieuHanh</li>
                                    <li>Camera trước: &ensp; @Model.CaneraTruoc</li>
                                    <li>Camera sau: &ensp;  @Model.CameraSau</li>
                                </ul>
                            </div>
                            <div class="price">Giá: &ensp; @string.Format("{0:#,0 Vnđ}", @Model.Gia) </div>
                            <div class="info">
                                <ul>
                                    <li>Cpu: &ensp; @Model.CPU</li>
                                    <li>Ram: &ensp;  @Model.Ram</li>
                                    <li>Bộ nhớ: &ensp;  @Model.BoNhoTrong</li>
                                    <li>Dung lượng Pin: &ensp;  @Model.DungLuongPin</li>
                                </ul>
                            </div>
                            <div class="rating" style="color:#C8FE2E; ">
                                <span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star-empty"></span>
                            </div>
                           
                              <div class="well"><label>Qty: </label> <input class="form-inline quantity" type="text" value="1"><a href="#" class="btn btn-2 ">ADD</a></div>
                            
                            <div class="col-md-6">
                                <div class="caption">
                                    <div class="name"><h3>@Model.TenSanPham</h3></div>
                                    <div>
                                        @*Gio hàng*@
                                        @if (User.Identity.IsAuthenticated)
                                        {
                                            using (Html.BeginForm("Them", "GioHang", FormMethod.Post))
                                            {
                                                <input type="hidden" name="masanpham" value="@Model.MaSanPham" />
                                                    <input type="hidden" name="gia" value="@Model.Gia" />
                                                    <input type="hidden" name="tensanpham" value="@Model.TenSanPham" />
                                                    <label>Số Lượng : </label> <input class="form-inline quantity" type="number" value="1" min="1" max="500" name="soluong" />
                                                    <input type="submit" class="btn btn-2" value="Thêm vào giỏ hàng" />
                                            }
                                        }
                                        else
                                        {
                                            <span>Đăng nhập để mua hàng</span>
                                        }
                                    </div>
                                </div>

                            </div>

                            <div class="share well">
                                <strong style="margin-right: 13px;">Share :</strong>
                                <a href="#" class="share-btn" target="_blank">
                                    <i class="fa fa-twitter"></i>
                                </a>
                                <a href="#" class="share-btn" target="_blank">
                                    <i class="fa fa-facebook"></i>
                                </a>
                                <a href="#" class="share-btn" target="_blank">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="product-desc">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#description">Description</a></li>
                        <li><a href="#review">Review</a></li>
                    </ul>
                    <div class="tab-content">
                        <div id="description" class="tab-pane fade in active summary text">
                            @Html.Raw(System.Web.HttpUtility.HtmlDecode(Model.MoTa))
                        </div>

                    </div>
                </div>
                </div>
            </div>
        <div class="row">
            <div class="col-md-12 ">
                @Html.Action("Index", "BinhLuan", new { MaSanPham = Model.MaSanPham })
            </div>
        </div>
        <div class="fb-comments" data-href="@HttpContext.Current.Request.Url.AbsoluteUri.ToString();" data-numposts="5"></div>
        </div>
    </div>