﻿@model IEnumerable<DoAnWeb2ShopConnection.SanPham>
@{
    ViewBag.Title = "Index";
    <link href="~/assets/css/mycss.css" rel="stylesheet" />
}

<div id="page-content" class="home-page">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="products">
                    @foreach (var item in Model)
                    {
                        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                            <div class="product">
                                <div class="image"><a href="@Url.Action("Details","SanPham", new { id = @item.MaSanPham})"><img src=@item.HinhAnh></a></div>
                                <div class="buttons">
                                    <a class="btn cart" href="#"><span class="glyphicon glyphicon-shopping-cart"></span></a>
                                    <a class="btn wishlist" href="#"><span class="glyphicon glyphicon-heart"></span></a>
                                    <a class="btn compare" href="#"><span class="glyphicon glyphicon-transfer"></span></a>
                                </div>
                                <div class="caption">
                                    <div class="name"><h3>@Html.ActionLink(item.TenSanPham, "Details","SanPham", new { id = item.MaSanPham })</h3></div>
                                    <div class="price" ><p>@string.Format("{0:#,0 Vnđ}", @item.Gia)</p></div>
                                    <div class="rating" ><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star"></span><span class="glyphicon glyphicon-star-empty"></span></div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    
</div>

